body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: #111827;
    color:  #F9FAFB
}

h1 {
    color: #ab98ff;
}

h1, #result, #winner, p {
    display: flex;
    justify-content: center;
}

h1 {
    background-color: #1F2937;
    padding: 0px;
    margin: 0px;
    height: 130px;
    align-items: center;
    
}

#winner {
    align-items: center;
    height: 50px;
    padding-top: 10px;
}

#result {
    align-items: center;
    height: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px; 
}

.choices {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px;
}

button {
    padding: 8px;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    background-color: #1F2937;
    border: none;
}

img {
    height: 70px;
    width: auto;
}

.scoreContainer {
    display: flex;
    justify-content: center; 
    gap: 130px;
    padding: 30px;
}

.score {
    display: flex;
}
